<li>
    <a href="/movie/details/{{ movie.movieID }}/{{ movie.movieTitle }}">
        <img src="{{ movie.posterLink }}">
        {{ movie.movieTitle ~ ' (' ~ movie.movieRating ~ '/5)' }}
    </a>
</li>