<div>
    <form method="GET" action="/search/results/">
        <input type="text" name="search" value="{{ get.search }}" placeholder="Type a title !">
        <button>
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>